*{
    margin: 0;
    padding: 0;
}

.maincontainer {
    display: flex;
    justify-content: space-around;

    margin-left:6%;
    margin-right:6%;
    background-color: #3D087B;
    width:auto
  }
  
  .left-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
  }
  
  .clock {
    width: 80%;
    display: flex;
    justify-content: space-between;
   
  }
  
  .clk_img {
    background-image: url("clock_logo.png");
    background-size: cover;
    width: 204px;
    height: 77px;
  }
  
  .dropdown {
    color: #3D087B;
    font: normal normal normal 18px/28px Manrope;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;

    width: 80%;
    height: 380px;
  
    margin: 5%;
  }
  
  .icon{
    
    display: flex;
    justify-content:space-between;
    
  }
  
  .dropd {
    margin: 2%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .drop1 {
    width: 270px;
    height: 45px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    color: #3D087BDE;
    letter-spacing: 0.25px;
  }
  
  .drop {
    margin: 2%;
    display: flex;
    justify-content: space-between;
  }
  
  .label1 {
    margin-bottom: 1.8%;
    text-align: left;
  }
  
  .goodmorning {
    width: 80%;
    height: 77px;
    background: rgba(110, 69, 139, 0.454) no-repeat padding-box;
    border: 1px solid rgba(110, 69, 139, 0.454);
    border-radius: 10px;
    /* opacity: 0.23; */
    
    
  }
  
  .goodm {
 
    text-transform: uppercase;
    opacity: 1;
    color: #FFFFFF;
    text-align: center;
    font: 900 27px/34px Preahvihear;
    margin-top: 3.5%;
  }
  
  
  .set-alarm {
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    
    display: flex;
    justify-content: space-around;
  }
  
    
  
  
  button {
    background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
    border-radius: 4px;
    border: none;
    opacity: 1;
    color: white;
    font: normal normal 600 24px/38px Manrope;
    width: 299px;
    height: 50px;
  }
  
  .selected {
    width: 253px;
    height: 117px;
    margin-left: 15px;
    border: 1px solid rgba(110, 69, 139, 0.454);
    border-radius: 10px;
    opacity: 0.4;
    background: rgba(110, 69, 139, 0.454) no-repeat padding-box;

  }
  
  .wakeup {
    margin: 5%;
    color: #F25CFE;
    opacity: 1;
    font: bold 16px Manrope;

  }
  

  
  .m1 {
    margin: 0%;
    width: 200px;
    height: 94px;
  }
  

  .right-container {
    width: 50%;
    display: flex;

  }
  
  .timeline {
    margin-top: 5%;
  }
  
  .timeline_img {
    background-image: url("./random.webp");
    width: 536px;
    height: 341px;
    background-repeat: no-repeat;
    margin-top: 5%;
    background-size: cover;
  }
  
  .time {
    
    width: 536px;
    height: 120px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    margin-top: 1%;
    align-items: center;
    display: flex;
  }
  
  .timer {
    width: 458px;
    height: 90px;
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    margin-left: 5%;
  }
  
  .t {
    width: 80px;
    height: 90px;
    background: transparent url("./timeline.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #8A11BF;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hours {
    width: 56px;
    height: 30px;
    font: bold 20px Barlow;
    letter-spacing: 0px;
    opacity: 1;
    margin: auto;
    text-align: center;
  }
  
  .h{
    font-size: 35px;
  }
  
  #meridian {
    width: 82px;
    height: 90px;
    background: transparent url("./AM_svg.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal 40px Barlow;
    color: #FFFFFF;
   
  }
  
 
  
  .colon {
    font: normal normal 600 20px/32px Manrope;
    letter-spacing: 0px;
    color: #3D087B;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 5%;
  }
  .time_Heading{
    font: normal normal 600 20px/32px Manrope;
    letter-spacing: 0px;
    color: #3D087B;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 2%;
  }
  
  .notification {
    width: 536px;
    height: 118px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    margin-top: 8%;
    display: flex;
    justify-content: center;
  }
  
  .text {
    width: 550px;
    height: 38px;
    font: 900 25px Preahvihear;
    color: #8E53F0;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 5%;
  }
  
  .bg1 {
    margin-top: -2%;
     height: 15px;
    width: 90%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.71;
  }
  
  .bg2 {
    width: 80%;
    height: 10px;
    margin-top: -1%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.5;
  }

  .timeline_img{
    background-image: url('./random.webp');
  }